.imgx.reg {
    border-style: solid;
    border-radius: 5px;
    border-color: crimson;
}
@media only screen and (max-width: 600px) {    
    .Pokemon {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
}  
.Starters {
    display: flex;
    justify-content: space-between;
    font-family: 'Silkscreen', cursive;
    flex-direction: row;
}
@media only screen and (max-width: 1000px) {
    .Starters {
        flex-direction: column;
    }
}
.Textx {
    background-color: #bababa;
    border-style: solid;
    border-color: #898989;
    width:90%;
}
.TnI {
    display:block;
    text-align:center;
}
.imgx {
    display:block;
    width: 90%;
}
.map {
    width:70%;
}
.text {
    font-size: 3em;
}
@media only screen and (max-width: 600px) {
    .text {
        font-size: 2em;
    }
    .IB {
        width: 200px;
    }
}
.IB, .strong {
    font-size: 2em;
}
.RegionLISI {
    position: fixed;
    background-color: crimson;
    width: 100%;
}
.RN {
    margin-top: 150px;
}
.imgx.reg.pokemon:hover {
    transform: scale(1.6, 1.6);
}