nav {
    background-color: crimson;
}
nav img {   
    max-width: 5%;
    height:auto;
    padding-left: 0.5%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}
.imgx.reg {
    border-style: solid;
    border-radius: 5px;
    border-color: crimson;
}
@media only screen and (max-width: 600px) {    
    .Pokemon {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
}  
.Pokemon {
    display: flex;
    justify-content: space-between;
    font-family: 'Silkscreen', cursive;
}
.Textx {
    background-color: #bababa;
    border-style: solid;
    border-color: #898989;
    width:90%;
}
.TnI {
    display:block;
}
.imgx {
    display:block;
    width: 90%;
}
.map {
    width:70%
}
.text {
    font-size: 3em;
}
.IB {
    font-size: 2em;
}
.strong {
    font-size: 2em;
}